Repository tuan231195/monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

chore(repo): release even-server 0.6.0 [skip ci]
  components/even-server/CHANGELOG.md
  components/even-server/package.json
Due: prettier --write

chore(repo): release is-odd 1.1.0 [skip ci]
  components/odd-server/deps.json
  packages/is-odd/CHANGELOG.md
  packages/is-odd/package.json
Due: prettier --write

chore(repo): release odd-server 0.6.0 [skip ci]
  components/odd-server/CHANGELOG.md
  components/odd-server/package.json
Due: prettier --write

fix(package): enable extra verbose output
  .monorepolint.config.ts
  components/even-server/package.json
  components/odd-server/package.json
  packages/is-even/package.json
  packages/is-odd/package.json
Due: npx eslint --fix --max-warnings 0, prettier --write

chore(repo): release is-even 1.1.1 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/CHANGELOG.md
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release is-odd 1.1.1 [skip ci]
  components/odd-server/deps.json
  packages/is-odd/CHANGELOG.md
  packages/is-odd/package.json
Due: prettier --write

chore(repo): release even-server 0.6.1 [skip ci]
  components/even-server/CHANGELOG.md
  components/even-server/package.json
Due: prettier --write

chore(repo): release odd-server 0.6.1 [skip ci]
  components/odd-server/CHANGELOG.md
  components/odd-server/package.json
Due: prettier --write

fix(docker): simplify docker compose
  docker-compose.yml
Due: none

Path conditions:
  npx eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{json,html,css}
