Repository tuan231195/monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
    "*.{ts,tsx,js,jsx}": "npx eslint --fix --max-warnings 0",
    "**/*.{json,html,css}": "prettier --write"
}

test monorepo change
  package.json
Due: prettier --write

chore(repo): release is-even 0.3.0
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/CHANGELOG.md
  packages/is-even/package.json
  packages/is-even/version.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release even-server 0.4.0
  components/even-server/CHANGELOG.md
  components/even-server/package.json
  components/even-server/version.json
Due: prettier --write

chore(repo): release is-odd 0.3.0
  components/odd-server/deps.json
  packages/is-odd/CHANGELOG.md
  packages/is-odd/package.json
  packages/is-odd/version.json
Due: prettier --write

chore(repo): release odd-server 0.4.0
  components/odd-server/CHANGELOG.md
  components/odd-server/package.json
  components/odd-server/version.json
Due: prettier --write

chore(repo): release is-even 0.4.0
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-even/version.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release is-odd 0.4.0
  components/odd-server/deps.json
  packages/is-odd/package.json
  packages/is-odd/version.json
Due: prettier --write

chore(repo): release even-server 0.5.0
  components/even-server/package.json
  components/even-server/version.json
Due: prettier --write

chore(repo): release odd-server 0.5.0
  components/odd-server/package.json
  components/odd-server/version.json
Due: prettier --write

chore(repo): release is-even 0.4.1
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-even/version.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release even-server 0.5.1
  components/even-server/package.json
  components/even-server/version.json
Due: prettier --write

chore(repo): release is-odd 0.4.1
  components/odd-server/deps.json
  packages/is-odd/package.json
  packages/is-odd/version.json
Due: prettier --write

chore(repo): release odd-server 0.5.1
  components/odd-server/package.json
  components/odd-server/version.json
Due: prettier --write

fix(is-odd): small change
  packages/is-odd/src/cli/is-odd.ts
Due: npx eslint --fix --max-warnings 0

fix(ci): remove :all
  .circleci/config.yml
  docker-compose.yml
  package.json
Due: prettier --write

fix(ci): use turbo.js
  .idea/jsLibraryMappings.xml
  .monorepolint/templates/turbo.js
  package.json
  turbo.json
Due: npx eslint --fix --max-warnings 0, prettier --write

fix(ci): remove idea
  .gitignore
  .idea/.gitignore
  .idea/aws.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/monorepo-template.iml
  .idea/vcs.xml
  .lintstagedrc
  .monorepolint/templates/turbo.js
  turbo.json
Due: npx eslint --fix --max-warnings 0, prettier --write

fix(ci): add default tasks
  .circleci/config.yml
  .monorepolint.config.ts
  .monorepolint/templates/turbo.js
  components/even-server/package.json
  components/odd-server/package.json
  package.json
  packages/is-even/package.json
  packages/is-odd/package.json
  turbo.json
Due: npx eslint --fix --max-warnings 0, prettier --write

fix(ci): ci changes
  .circleci/config.yml
  .gitignore
  pnpm-lock.yaml
  scripts/generate-config.js
Due: npx eslint --fix --max-warnings 0

fix(is-odd): is odd change
  .monorepolint/templates/turbo.js
  packages/is-odd/src/cli/is-odd.ts
  turbo.json
Due: npx eslint --fix --max-warnings 0, prettier --write

fix(ci): add skip ci
  .circleci/config.yml
  .release-it.js
Due: npx eslint --fix --max-warnings 0

test(is-odd): test is odd change
  packages/is-odd/src/index.test.ts
Due: npx eslint --fix --max-warnings 0

fix(ci): fix monorepolint
  .monorepolint.config.ts
Due: npx eslint --fix --max-warnings 0

fix(ci): fix generate pipeline config
  .circleci/config.yml
  scripts/generate-pipeline-config.js
Due: npx eslint --fix --max-warnings 0

chore(repo): release is-even 0.4.4 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release is-even 0.4.4 [skip ci]
  .monorepolint.config.ts
  .release-it.js
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
  packages/is-odd/package.json
Due: npx eslint --fix --max-warnings 0, prettier --write

fix(is-odd): is odd fix
  packages/is-odd/src/cli/is-odd.ts
Due: npx eslint --fix --max-warnings 0

chore(repo): release is-odd 0.4.2 [skip ci]
  packages/is-odd/package.json
Due: prettier --write

chore(repo): release is-odd 0.4.2 [skip ci]
  packages/is-even/package.json
  packages/is-odd/package.json
Due: prettier --write

fix(is-odd): odd test
  packages/is-odd/src/cli/is-odd.ts
Due: npx eslint --fix --max-warnings 0

chore(repo): release is-odd 1.0.1 [skip ci]
  components/odd-server/deps.json
  packages/is-odd/package.json
Due: prettier --write

chore(repo): release is-even 1.0.1 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release is-odd 1.0.1 [skip ci]
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/package.json
Due: prettier --write

chore(repo): release is-even 1.0.2 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write

fix is even
  packages/is-even/package.json
Due: prettier --write

chore(repo): release is-even 1.0.3 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write

chore(repo): release is-even 1.0.3 [skip ci]
  .release-it.js
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: npx eslint --fix --max-warnings 0, prettier --write

chore(repo): release is-even 1.0.4 [skip ci]
  components/even-server/deps.json
  components/odd-server/deps.json
  packages/is-even/package.json
  packages/is-odd/deps.json
Due: prettier --write
